<img src="{{ url_for('static', filename='staticImages/moon.png') }}" id = "moon" style="height:70px;transform: rotate(90deg);display:none;">
<img src="{{ url_for('static', filename='staticImages/cloud0.png') }}" id="movingCloud0"style ="position:fixed;height:55px; top:100px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud1.png') }}" id="movingCloud1"style ="position:fixed;height:55px; top:200px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud2.png') }}" id="movingCloud2"style ="position:fixed;height:55px; top:300px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud3.png') }}" id="movingCloud3"style ="position:fixed;height:55px; top:150px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud0.png') }}" id="movingCloud4"style ="position:fixed;height:55px; top:250px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud1.png') }}" id="movingCloud5" style ="position:fixed;height:55px; top:150px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud2.png') }}" id="movingCloud6" style ="position:fixed;height:55px; top:250px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud3.png') }}" id="movingCloud7" style ="position:fixed;height:55px; top:200px; height:80px;">
<img src="{{ url_for('static', filename='staticImages/cloud0.png') }}" id="movingCloud8" style ="position:fixed;height:55px; top:50px; height:80px;">
<img src="https://imgtr.ee/images/2023/04/15/ypHd4.png" id="airplane" style ="position:fixed;height:65px; top:50px; left:0px;">
<img src="https://imgtr.ee/images/2023/04/15/ypj5s.png" id="airplane1" style ="position:fixed;height:65px; top:50px; left:0px;">
<img src="{{ url_for('static', filename='staticImages/city1Transparent.png') }}" id="building1" style = "position:fixed; height:145px;">
<img src="{{ url_for('static', filename='staticImages/city2Transparent.png') }}" id="building2" style = "position:fixed; height:145px;">
<img src="{{ url_for('static', filename='staticImages/city1Transparent.png') }}" id="building3" style = "position:fixed; height:145px;">
<img src="{{ url_for('static', filename='staticImages/city2Transparent.png') }}" id="building4" style = "position:fixed; height:145px;">
<img src="{{ url_for('static', filename='staticImages/city1Transparent.png') }}" id="building5" style = "position:fixed; height:145px;">
<img src="{{ url_for('static', filename='staticImages/city2Transparent.png') }}" id="building6" style = "position:fixed; height:145px;">