body{
    font-family: "Press Start 2P";
}
#welcome1{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #e7464d, #cd4877, #a055a3, #5f44da, #7AD7F0,#e7464d );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnimation 3s ease-in-out infinite, 1s ease 0s normal forwards 1 fadeIn;
    font-size:55px;
    font:"Press Start 2P"

}
#welcome2{
    position: fixed;
    top: 25%;
    left: 49.75%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:55px;
    animation: 3s ease 0s normal forwards 1 fadeIn;
}
@keyframes gradientTextAnimation {
    0%{background-position:0 50%;}
    50%{background-position:200% 50%;}
    100%{background-position: 0 50%;}
  }
#usernameWelcome1{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 3s ease 0s normal forwards 1 fadeIn-2s;
    font-size:65px;
    background: linear-gradient(to right, #e7464d, #cd4877, #a055a3, #5f44da, #7AD7F0,#e7464d );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnimation 3s ease-in-out infinite;
    display:none;
}
#usernameWelcome2{
    position: fixed;
    top: 35%;
    left: 49.75%;
    transform: translate(-50%, -50%);
    font-size:65px;
    color:rgb(255, 255, 255);
    display:none;
}

#postingContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:100%;
    width:50%;
    background:#1d1d1d;
    border:solid;
    border-color:rgb(124, 124, 124);
}
#userPostingBox{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:85%;
    height:75px;
    background:rgb(237, 237, 237);
    border-radius: 10px;
}
#userPostingText{
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width:80%;
    height:45px;
    background:rgb(237, 237, 237);
    border-radius: 30px;
    font-family: "Press Start 2P";

}
#fileUploadImage{
    height:40px; 
    cursor:pointer;
    position: fixed;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}
#previewImage{
    height:50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#submitButton{
    height:50px;
    cursor:pointer;
    position: fixed;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    border:none;
}
#submitImg{
    height:100%;
}
#previewVideo{
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:640; 
    height:360;
    display:none;
    border-radius:10px;
}