body{
    font-family: "Press Start 2P";
}
#welcome1{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #e7464d, #cd4877, #a055a3, #5f44da, #7AD7F0,#e7464d );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnimation 3s ease-in-out infinite, 1s ease 0s normal forwards 1 fadeIn;
    font-size:55px;
    font:"Press Start 2P"

}
#welcome2{
    position: fixed;
    top: 25%;
    left: 49.75%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:55px;
    animation: 3s ease 0s normal forwards 1 fadeIn;
}
#usernameText{
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 3s ease 0s normal forwards 1 fadeIn-2s;
    font-size:15px;
    background: linear-gradient(to right, #e7464d, #cd4877, #a055a3, #5f44da, #7AD7F0,#e7464d );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnimation 3s ease-in-out infinite;
}
@keyframes gradientTextAnimation {
    0%{background-position:0 50%;}
    50%{background-position:200% 50%;}
    100%{background-position: 0 50%;}
  }
#usernameWelcome1{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 3s ease 0s normal forwards 1 fadeIn-2s;
    font-size:65px;
    background: linear-gradient(to right, #e7464d, #cd4877, #a055a3, #5f44da, #7AD7F0,#e7464d );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnimation 3s ease-in-out infinite;
    display:none;
}
#usernameWelcome2{
    position: fixed;
    top: 35%;
    left: 49.75%;
    transform: translate(-50%, -50%);
    font-size:65px;
    color:rgb(255, 255, 255);
    display:none;
}

#postingContainer{
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%, -0%);
    width:800px;
    background:#1d1d1d;
    border:solid;
    border-color:rgb(124, 124, 124);
    vertical-align: top;
}
#userPostingBox{
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    width:650px;
    height:75px;
    background:rgb(237, 237, 237);
    border-radius: 10px;
}
#userPostingText{
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width:80%;
    height:45px;
    background:rgb(237, 237, 237);
    border-radius: 30px;
    font-family: "Press Start 2P";
    font-size:10px;
}
#fileUploadImage{
    height:40px; 
    cursor:pointer;
    position: fixed;
    top: 50%;
    left: 88.2%;
    transform: translate(-50%, -50%);
}
#previewImage{
    height:50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#submitButton{
    height:44px;
    cursor:pointer;
    position: fixed;
    top: 50%;
    left: 95.5%;
    transform: translate(-50%, -50%);
    border:none;
}
#submitImg{
    height:100%;
}
#previewVideo{
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:640; 
    height:80%;
    display:none;
    border-radius:10px;
}
.newContainer{
    margin-bottom: 1em;
    width:650px; 
    background:rgb(237, 237, 237);
    position: relative;
    border-radius: 30px;
    left: 50%;
    transform: translate(-50%, 3%);
}
.newDescription{
    position: relative;
    left: 50%;
    top: -20px; 
    font-size:11px;
}
.newVideo{
    position: absolute;
    border-radius: 30px;
    top: 75px; 
    max-width: 100%;
    margin-bottom: 20px; /* Adjust the margin-bottom value as per your needs */

}
.postingUsername{
    position:absolute;
    top:0%;
    left:11.7%;
    font-size:16px;
}
.userImgPosting{
    position:relative;
    top:1.2%;
    left:2%;
    width:9%;
}
.postingDate{
    position:absolute;
    top:30px;
    left:11.7%;
    font-size:8px;
    font-style: italic;
    color:#b4b4b4
}
.newDescriptionBox{
    position: relative;
    top: 430px;
    left:-305px;
    vertical-align: top;

}
.likeButton{
    position: absolute;
    left: 1.5%;
    height:45px;
    border:none;
    cursor:pointer;
}
#postLikes{
    position:relative;
    top:50%
}
.sizeOfLikeButton{
    height:100%;
}
.commentButton{
    position: fixed;
    top: 430px;
    left: 10.2%;
    height:38px;
    cursor:pointer;
    border:none;
}
.commentButtonImg{
    height:100%;
}

.commentInput{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    font-family: "Press Start 2P";
    height:25px;
    width:0px;
    font-size:10px;
    display:none;
}
.submitComment{
    position: absolute;
    left: 78%;
    height:27px;
    width:27px;
    transform: translate(-90%, -50%);
    border:none;
}
.submitCommentImg{
    height:100%
}
.newPicture{
    position: absolute;
    border-radius: 30px;
    top: 75px; 
    max-width: 50%;
    margin-bottom: 20px;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
}
.totalLikesText{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:12px;
}

#movingCloud0{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud0 45s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud1{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud0 55s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud2{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud0 30s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud3{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud0 35s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud4{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud0 40s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
@keyframes moveCloud0{
    from {
    left: -6%;
}
    to {
    left: 102%;
}
}
@keyframes moveCloud1{
    from {
    left: -12%;
}
    to {
    left: 102%;
}
}
#movingCloud5{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud1 65s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud6{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud1 75s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud7{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud1 85s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#movingCloud8{
    position: absolute;
    width: 100px;
    z-index: 10;
    left: 10%;
    animation: moveCloud1 60s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#airplane{
    position: absolute;
    z-index: 10;
    left: 10%;
    animation: moveCloud1 50s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;

}
#airplane1{
    position: absolute;
    z-index: 10;
    left: 10%;
    animation: moveCloud1 40s ease-in-out forwards;
    animation-iteration-count: infinite;
    z-index: -1;
}

